<h1>ユーザープロファイル詳細</h1>

<dl>
  <dt>ID</dt><dd><%= @user.id %></dd>

  <dt>氏名</dt><dd><%= @user.name %></dd>

  <dt>メール</dt>
  <dd><%= @user.email %></dd>

  <dt>作成日時</dt><dd><%= l(@user.created_at) %></dd>
  <dt>更新日時</dt><dd><%= l(@user.updated_at) %></dd>
</dl>

<%= link_to '編集', edit_admin_profile_path, class: 'btn btn-primary' %>
