<% content_for :title, "ブログ一覧" %>

<h1>ブログ一覧</h1>

<%= paginate @posts %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>画像</th>
      <th>公開日</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= image_tag post.image.list.url %></td>
        <td><%= l(post.published_at, format: :long) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @posts %>